In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from text_data_dashboard import TextDataDashboard

In [2]:
df = pd.read_csv("./data/dataset.csv", encoding="utf-8-sig", index_col=0)
df.head()

                                                text  label
0  http://news.livedoor.com/article/detail/631250...      0
1  http://news.livedoor.com/article/detail/547419...      0
2  http://news.livedoor.com/article/detail/647291...      0
3  http://news.livedoor.com/article/detail/594768...      0
4  http://news.livedoor.com/article/detail/598253...      0

In [3]:
tdd = TextDataDashboard()

In [4]:
df = tdd.transform(df)
df.head()

7376it [01:02, 117.75it/s]

,text,label,text_wakachi
0,http://news.livedoor.com/article/detail/631250...,0,http:// news livedoor .com −2 ﾀﾆﾀ 弾 話題 社員食堂 家庭...
1,http://news.livedoor.com/article/detail/547419...,0,http:// news livedoor .com t19 ﾏｽｸ 顔 独女 東京都渋谷区...
2,http://news.livedoor.com/article/detail/647291...,0,http:// news livedoor .com −1 薄っぺら 親友 増殖 友情 親友...
3,http://news.livedoor.com/article/detail/594768...,0,http:// news livedoor .com −1 −1 t19 ｵﾄﾅ女子 映画 ...
4,http://news.livedoor.com/article/detail/598253...,0,http:// news livedoor .com −1 −3 女医 onna ｳｿ ﾎﾝ...